---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BNOAEBT3IZYZI6WXI&format=json&id=ARH6W4X1187B99274F&results=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 1c88a:13264
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 145, "images": [{"url": "http://userserve-ak.last.fm/serve/_/102639.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/102639.jpg"}}, {"url":
        "http://userserve-ak.last.fm/serve/_/174456.jpg", "tags": [], "verified":
        false, "license": {"type": "unknown", "attribution": "last.fm", "url": "http://userserve-ak.last.fm/serve/_/174456.jpg"}},
        {"url": "http://userserve-ak.last.fm/serve/_/2153194.jpg", "tags": [], "verified":
        false, "license": {"type": "unknown", "attribution": "last.fm", "url": "http://userserve-ak.last.fm/s[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - bf53c:32372
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 172, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/2/2b/Weezer.jpg",
        "tags": [], "width": 640, "height": 480, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by-sa", "attribution": "ryanwh
        / ryan", "url": "http://en.wikipedia.org/wiki/File:Weezer.jpg"}}, {"url":
        "http://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Weezer_2005.jpg/800px-Weezer_2005.jpg",
        "tags": [], "width": 800, "height": 600, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by", "attribution": "James from
        Somerville, USA", "url": "http://[...]
